@layer Color{
  *{
    color:#787878;
  }
    body{
    background-color: #f8fdff;
    }
    [oct8-css~="banner"]{
        background-image: url('../img/abstract-gray-geometric-banner-background-vector.jpg');
        background-size: cover;
    }
    [oct8-css="header"]{
        color: #333333;
        border-radius: 2vh;
        
    }
     [oct8-css~="cards"]{
       background: #fbfeff;
        color: #565656;
        border: 0.3vh solid #e7eef086;
     }
      [oct8-css~="projeto_frame"]{
        background-color: #fbfeff;
       border: 0.3vh solid #e7eef086;
        
      }
      [oct8-css~="card-ex"]{
       background: #ecf4f8;
        color: #565656;
        border: 0.3vh solid #e7eef086;

      }
      .standart_bt{
        background: #dae2e6;
        border: 0.4vh solid #d5dcde86;
        padding: 1vh;
        height: 4vh;
        border-radius: 1vh;
        color: #434343;
        font-weight: bold;
      }
      [oct8-css='header']{
            background-color:  #eefbff;
            border: 0.3vh solid #e7eef086;
            
        background: linear-gradient(176deg, rgba(217, 215, 215) 0%, rgba(247, 247, 247, 1,0.700) 100%);
      }
      [oct8-css='headertitle']{
        background-color: none;
      }
      [oct8-css~="bege"]{
       background: #ecf4f8;
        color: #565656;
        border: 0.3vh solid #e7eef086;
            border-radius: 2vh;
      }
      [oct8-css="dashboard"]{
       background: #ecf4f8;
        color: #565656;
        border: 0.3vh solid #e7eef086;
        box-shadow: 16px 11px 16px -8px rgba(0,0,0,0.18);
      }
      [oct8-css~='menuList']{
              background: #ecf4f8;
        color: #565656;
        border: 0.3vh solid #e7eef086;
      }

      [oct8-css~='menu_fixed'] a{
        color: #434343;
        font-weight: lighter;
        text-decoration: none;
      }

}
