:root {
    --corBase : #efefef;
    --Texto : #6b6b6b;
    --CorFundo : #353333;
    --CorFundoCons : #423838;
    --BodyColor: #cecece;
    --Button: #eaea00;
}
body{
    background-color: #5a7c5a;
    overflow-x: hidden;
    background-color: var(--BodyColor);
}
#document{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.hero_dc{
    text-align: center;
}

.hero_dc h1 {
    color: var(--CorFundo);
}
body nav{
    background-color: var(--corBase);
    color: var(--Texto);
    width: 110%;
    height: 10vh;
    margin-left: -2vh;
    margin-top: -2vh;
    text-align: center;
    padding-top: 1vh;
    font-family: Arial, Helvetica, sans-serif;
}

body nav ul li{
    float: left;
    margin-left: 4vh;
    list-style: none;
}

body nav ul li:hover {
    float: left;
    margin-left: 4vh;
    list-style: none;
}

body nav ul li:active {
    text-decoration: none;
    color: var(--Texto);
}

.banner_base{
    height: 60vh;
    width: 120%;
    margin-left: -2vh;
    padding: 2vh;
    background-color: var(--CorFundo);
    display: flex;

}



.banner_text-lg{
       width: 70vh;
    color: var(--corBase);
    font-family: Arial, Helvetica, sans-serif ;
    margin-left: 5vh;
    margin-top: 2%;
}

.banner_text-lg h1{
    font-weight: bolder;
    font-size: 3rem;
    background: #34333C;
    background: linear-gradient(to right, #59585f 0%, #4a78db 50%, #790bbd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 3s;
}

.banner_text-lg h1:hover{
     background: linear-gradient(to right, #9c9ba0 0%, #6f9bf8 50%, #a82ef5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s all;
}


.banner_text-lg h3{
    font-weight: lighter;
    font-size: 1rem;
    margin-top: -4vh;
}

.banner_base img{
    float: left;
}


.texto_article{
    width: 40%;
    margin: auto;
    margin-top: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--CorFundo);
}
.texto_article button{
    margin-top: 2vh;
    margin-left: 10%;
}

.article{
    margin-top: 8vh;
    background-color: var(--CorFundo);
    color: var(--corBase); 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 2vh;
    text-align: center; 
}

.card-lg{
    margin-left: 10%;
    margin-top: 8vh;
    background-color: var(--Texto);
    color: var(--BodyColor);
    width: 80%;
    border-radius: 3vh;
    text-align: left;
    padding: 2vh;
    display: flex;

}

.space_img{
    margin: auto;
    width: 70vh;
    height: 30vh;
    border-radius: 3vh;
    background-color: #cecece;
}

.vitrine_base{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
}
.Bloco_large{
    background-color: white;
    padding: 2vh;
    margin-top: 4vh;
    width: 50vh;
    height: 40vh;
    margin-left: 6vh;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}

.Bloco_large:hover{
filter: drop-shadow(-4px -1px 9px #0000002d);
transform: scale(1.1);
transition: all 0.3s;
}

.Bloco_large a{
    color:#353333;
    text-decoration: none;
}

.division_article{
    height: 10vh;
    display: flex;
    flex-direction: row;
} 
.division_article article{
    width: 18vh;
    margin-top: 3vh;
    margin-left: 18%;
}

button{
    background-color: var(--Button);
    color: var(--CorFundo);
    padding: 2vh;
    border: none;
    font-weight: bold;
}
button:hover{
    background-color: var(--corBase);
}

/*  =============================    */

header h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

header button{
    margin-top: -9vh;
}

#data-menu{
    display: flex;
}

#data-menu ul li {
    float: left;
    margin-left: 5vh;
    list-style: none;
    margin-top: 1vh;
}

#data{
    margin-top: -2vh;
    margin-left: 6%;
    width: 90%;
    height: 50vh;
    background-color: var(--CorFundoCons);
}

.guide{
    width: 90%;
    background-color:var(--CorFundoCons);
    height: 34vh;
    margin-left: 6%;
    margin-top: 4vh;

}

#guide_nav {
    background-color: transparent;
}

#data-bg{
    background-color: var(--CorFundo);    
}